:root {
  --primary: #0aa84f;
  --primary-dark: #078a41;
  --bg-light: #f4fff9;
  --text-dark: #0f172a;
  --text-muted: #64748b;
  --white: #ffffff;

  --radius-xl: 30px;
  --radius-lg: 24px;
  --radius-sm: 12px;

  --shadow-soft: 0 10px 30px rgba(0,0,0,.08);
  --shadow-card: 0 18px 45px rgba(0,0,0,.12);

  --header-height: 85px;
}
